{% extends "base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}
{% block page_content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<div class="page-header">
    <h1>Login</h1>
</div>

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
<div class="col-md-4">
    <p>几个测试用户，供大家体验使用，如果大家测试修改密码，请最后再改回原密码，谢谢！</p>
    <ul>
        <p>
    普通用户1： user1/test1
        </p>
        <p>
    普通用户2： user2/test2
        </p>
        <p>
    管理员用户1： admin1/admin1
        </p>
        <p>
    管理员用户2： admin2/admin2
        </p>
    </ul>
</div>
<!--
    <div class="col-md-4">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
    -->
<div class="col-md-12">
    <a class="btn btn-primary" href="{{ url_for('auth.githublogin') }}">Login with GitHub</a>
</div>
<div class="col-md-12">
    <a href="{{ url_for('auth.resetpwdemail') }}">
        忘记密码，重置
    </a>
</div>
<div class="col-md-12">
    <a href="{{ url_for('auth.register') }}">
        点击此处注册,不需要确认邮箱
    </a>
</div>
<div class="col-md-12">
    <a href="{{ url_for('auth.register_confirm') }}">
        点击此处注册,需要确认邮箱
    </a>
</div>
{% endblock %}