{% extends "base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}
{% block title %}Edit Profile{% endblock %}
{% block page_content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<div class="page-header">
    <h1>Edit Profile</h1>
</div>

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>


{% endblock %}