{% extends "base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}
{% block page_content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<div class="page-header">
    <h1>Home</h1>
</div>

<div class="col-md-4">
    <p>几个测试用户，供大家体验使用，如果大家测试修改密码，请最后再改回原密码，谢谢！</p>
    <ul>
        <p>
    普通用户1： user1@luobo.com/test1
        </p>
        <p>
    普通用户2： user2@luobo.com/test2
        </p>
        <p>
    管理员用户1： admin1@luobo.com/admin1
        </p>
        <p>
    管理员用户2： admin2@luobo.com/admin2
        </p>
    </ul>
</div>
{% endblock %}